.portfolio_footer_container {
  padding: 42px 20px 20px;
  background-color: #B6EE8C;
}
.portfolio_footer_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio_footer_item {
  margin-top: 8px;
}
.portfolio_footer_item + .portfolio_footer_item {
  margin-left: 16px;
}
.portfolio_footer_item > a {
  font-size: 14px;
  color: #3c3c3c;
  font-size: 16px;
}
.portfolio_footer_item > a:hover {
  text-decoration: underline;
}
.portfolio_footer_copyright {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
}