.footer_container {
  padding: 42px 20px 20px;
  background-color: #B6EE8C;
}
.footer_navigationList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer_navigationItem {
  margin-top: 12px;
}
.footer_navigationItem + .footer_navigationItem {
  margin-left: 16px;
}
.footer_navigationItem-link {
  font-size: 16px;
  color: #3c3c3c;
}
.footer_navigationItem-link:hover {
  text-decoration: underline;
}
.footer_copyright {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
}
.footer_noteAboutGA {
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
}
