.header {
  position: fixed;
  display: flex;
  height: 48px;
  width: 100%;
  padding: 0 24px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
  z-index: 5;
}
.header_title {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 48px;
}
.header_title-link {
  font-size: 24px;
}
.header_navigation {
  flex: 1 0 auto;
  margin-left: 48px;
}
.header_navigationList {
  display: inline-block;
}
.header_navigationList-item {
  display: inline-block;
  height: 48px;
  vertical-align: middle;
}
.header_navigationList-item:hover,
.header_navigationList-item:focus {
  border-bottom: 2px solid #757575;
}
.header_navigationList-item + .header_navigationList-item {
  margin-left: 24px;
}
.header_navigationList-link {
  display: inline-block;
  color: #757575;
  line-height: 48px;
  font-size: 18px;
}
.header_navigationList-link:hover,
.header_navigationList-link:focus {
  color: #231815;
}
.header_navigationList-linkWithIcon {
  display: flex;
  align-items: center;
}
.header_navigationList-Icon {
  opacity: 0.6;
}

@media (max-width: 720px) {
  .header {
    display: block;
    height: 96px;
    padding: 0;
    box-shadow: 0 0 0px;
  }
  .header_title {
    justify-content: center;
  }
  .header_navigation {
    margin-left: 0;
    border-top: 1px solid #F7F7F7;
    border-bottom: 1px solid #F6F6F6;
  }
  .header_navigationList {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .header_navigationList-item {
    display: inline-block;
    height: 48px;
    vertical-align: middle;
  }
  .header_navigationList-item + .header_navigationList-item {
    margin-left: 0;
  }
}
