@font-face {
  font-family: 'PixelMplus10';
  src: url('./PixelMplus10.woff2') format('woff2');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PixelMPlus10";
  font-size: 16px;
}
a {
  color: #231815;
  text-decoration: none;
}
li {
  list-style: none;
}

.headerSpace {
  height: 48px;
}

.main_body {
  padding: 30px 24px 30px;
  min-height: calc(100vh - 178px);
}

@media (max-width: 720px) {
  .headerSpace {
    height: 96px;
  }

  .main_body {
    padding: 20px 16px 30px;
    min-height: calc(100vh - 254px);
  }
}
