.portfolio_products_container {
  padding: 30px;
}
.portfolio_product_card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 24%);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  justify-content: space-evenly;
}
.portfolio_product_card {
  position: relative;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
              0 1px 3px 1px rgba(60, 64, 67, 0.16);
  border-radius: 3px;
}
.portfolio_product_card_image_continer {
  position: relative;
  min-height: 160px;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
}
.portfolio_product_card_image_continer img {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}
.portfolio_product_card_text_container {
  padding: 0.5em;
}
.portfolio_product_card_text_container h3 {
  display: inline-block;
  color: #232f34;
  font-size: 18px;
  line-height: 19px;
}
.portfolio_product_card_text_year {
  margin-bottom: 4px;
  color: #818181;
  font-size: 12px;
}
.portfolio_product_card_text_description {
  margin-bottom: 48px;
  color: #232f34;
  font-size: 16px;
}
.portfolio_product_card_button_block {
  position: absolute;
  display: flex;
  bottom: 10px;
}
.portfolio_product_card_button {
  display: inline-block;
  height: 36px;
  min-width: 64px;
  border-radius: 4px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
}
.portfolio_product_card_button + .portfolio_product_card_button {
  margin-left: 5px;
}
.portfolio_product_card_button:hover, .portfolio_product_card_button:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0,0,0,.12);
}
.portfolio_product_card_button:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 8px 10px 1px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0,0,0,.12);
}
.portfolio_product_card_button a {
  display: inline-block;
  padding: 0 16px;
  width: 100%;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  border-radius: inherit;
  line-height: 36px;
}

@media (max-width: 1080px) {
  .portfolio_product_card-grid {
    grid-template-columns: repeat(auto-fill, 32%);
  }
}

@media (max-width: 810px) {
  .portfolio_products_container {
    padding: 30px 10px;
  }
  .portfolio_product_card-grid {
    grid-template-columns: repeat(auto-fill, 48%);
  }
}

@media (max-width: 500px) {
  .portfolio_products_container {
    padding: 20px 10px;
  }
  .portfolio_product_card-grid {
    grid-template-columns: repeat(auto-fill, 100%);
    grid-row-gap: 20px;
  }
}
