.portfolio_profile_container {
  color: #231815;
}
.portfolio_profile_me {
  display: flex;
}
.portfolio_profile_me img {
  border: solid 1px #dcdddd;
  margin-right: 22px;
}
.portfolio_profile_me_text h2 {
  font-size: 20px;
}
.portfolio_profile_me_text p {
  font-size: 14px;
}
.portfolio_profile_me_comment {
  display: inline-block;
  margin-top: 5px;
  max-width: 450px;
}
.portfolio_profile_detail {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.portfolio_profile_detail h3 {
  margin-bottom: 10px;
  padding-bottom: 3px;
  font-size: 18px;
  border-bottom: 2px solid rgba(117, 117, 117, 0.5);
}
.portfolio_profile_detail ul {
  margin-bottom: 30px;
}
.portfolio_profile_detail li {
  font-size: 16px;
}
.portfolio_profile_detail .portfolio_profile_list_sub {
  margin-bottom: 16px;
  font-size: 14px;
  color: #757575;
}
.portfolio_profile_history {
  width: 48%;
}
.portfolio_profile_skill {
  width: 48%;
}
.portfolio_profile_skill_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio_profile_skill_container:first-of-type {
  margin-bottom: 30px;
}
.portfolio_profile_skill_unit {
  width: 48%;
  margin-bottom: 15px;
}
.portfolio_profile_skill_unit h5 {
  margin-bottom: 1px;
  font-size: 14px;
}
.portfolio_profile_skill_bar {
  height: 11px;
  position: relative;
}
.portfolio_profile_skill_progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #75e900;
  z-index: 2;
}
.portfolio_profile_skill_unprogress {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #EEEEEE;
}
.portfolio_profile_skill_bar_omit-line {
  position: absolute;
  top: -1px;
  right: 10%;
  width: 6px;
  height: 13px;
  background-color: #FFFFFF;
  border-left: 1px dotted #AAAAAA;
  border-right: 1px dotted #AAAAAA;
  z-index: 3;
}

@media (max-width: 720px) {
  .portfolio_profile_container {
    padding: 116px 30px 30px;
  }
  .portfolio_profile_detail {
    flex-wrap: wrap;
  }
  .portfolio_profile_history {
    width: 100%;
  }
  .portfolio_profile_skill {
    width: 100%;
  }
}
